{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}
{% block body %}
    <!-- BACKGROUND IMAGE -->
    <div class="background_contact_image"></div>

    <div id="about_message_page">
        <h3 class="font-weight-bold">Moi.</h3>
        <p>J'aime développer des applications web et avoir la satisfaction d'une application à la fois plaisante et fonctionnelle.</p>
        <p class="pb-2">Et sinon, j'aime aussi les cafés Starbucks, et le sport automobile ♥</p>

        <hr>

        <h3 class="font-weight-bold">Mon apprentissage.</h3>
        <p class="pb-3">J'ai suivi la formation à distance <a href="https://openclassrooms.com/paths/59-developpeur-dapplication-php-symfony">Développeur d'applications PHP / Symfony</a>, avec OpenClassrooms</p>

        <hr>

        <h3 class="font-weight-bold">Mes compétences.</h3>
        <p>
            <strong>Langages :</strong> HTML, CSS, PHP 5 / 7, MySql<br/>
            <strong>Framework :</strong> Bootstrap, Symfony 3 / 4 / 5<br/>
            <strong>Outils :</strong> Git, GitHub, Jira<br/>
            Pratiques des méthodologies Agile.<br/>
            Respect des bonnes pratiques de développement.
        </p>
    </div>
{% endblock %}