{% extends 'base.html.twig' %}

{% block title %}Contactez-moi{% endblock %}
{% block body %}
    <!-- BACKGROUND IMAGE -->
    <div class="background_contact_image"></div>

    <div id="contact_message_page">
        <p  class="pb-5">Si vous souhaitez échanger avec moi, ou juste me dire bonjour, n'hésitez pas à me contacter.</p>

        <p><i class="fa fa-envelope-o fa-fw pr-4"></i>contact@e-mercadal.com</p>
        <p><i class="fa fa-skype fa-fw pr-4"></i>Emmanuelle Mercadal</p>

        <p class="pt-4"> Réseaux sociaux : </p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/emmanuelle-mercadal/" target="_blank" class="btn btn-outline-dark btn-social rounded-circle"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/Emma1987" target="_blank" class="btn btn-outline-dark btn-social rounded-circle"><i class="fa fa-fw fa-github-alt"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/EmmanuelleM9" target="_blank" class="btn btn-outline-dark btn-social rounded-circle"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
{% endblock %}