@import "~bootstrap/scss/bootstrap";

$color_darkgrey: #2c3e50;
$color_lightgrey: #8c8c8c;

$primary_color: #18bc9c;
$primary_focus_color: #128f76;

body {
  margin: 0;
  color: $color_darkgrey;

  header {
    .nav {
      width: 100%;
      padding: 60px;
      text-align: left;
      position: absolute;
      background: transparent;

      .name a {
        font-family: 'Satisfy', cursive;
        font-size: 2.2em;
        color: black;

        &:hover {
          text-decoration: none;
        }
      }

      ul {
        list-style-type: none;
        margin-bottom: 0;

        li {
          margin-left: 10px;

          a {
            display: inline-block;
            width: 120px;
            color: black;
            font-size: 17px;
            font-weight: bold;
            padding: 5px;

            &:hover {
              color: $primary_color;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  /*
  .nav ul li.drop-menu a
  {
    width: 200px;
    font-size: 15px;
  }*/

  #copyright {
    background-color: #1a252f;

    p {
      margin-bottom: .3rem;
    }
  }

  a {
    color: $primary_color;

    &:focus, &:hover, a {
      color: $primary_focus_color;
    }

    &.btn-social {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
      line-height: 2rem;
      border-width: 2px;

      &:hover {
        background-color: $primary_color;
      }
    }
  }

  p, a.btn {
    font-size: 16px;
    text-align: justify;
  }

  h2 {
    font-size: 30px;
    margin-top: 75px;
  }

  h3 {
    font-size: 16px;
  }

  hr.hr_star {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-color: $color_darkgrey;

    &::after {
      position: relative;
      top: -.8em;
      display: inline-block;
      padding: 0 .25em;
      content: '\f005';
      font-family: 'FontAwesome';
      font-size: 2em;
      color: #2c3e50;
      background-color: #fff;
    }
  }

  .btn.btn-primary {
    background-color: $primary_color;
    border-color: $primary_color;

    &:focus, &:hover {
      background-color: $primary_focus_color;
      border-color: $primary_focus_color;
    }
  }
}
