@import '_variables.scss';

.background_home_image {
  background: url('../../public/images/Accueil.jpg') no-repeat center;
  height: 700px;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

#home_xs_content {
  #introduction, #portfolio, #contact {
    margin-bottom: 80px;
  }

  div#introduction {
    width: 60%;
    margin: 20px auto;
    margin-bottom: 80px;
    padding: 30px;
    border: #e0e2e5 1px solid;

    span.php_code {
      &::before {
        content: '<?php echo ';
      }

      &::after {
        content: ' ?>';
      }
    }

    span.output_code {
      color: $color_lightgrey;
      margin-left: 2px;

      &::before {
        content: ' // ';
      }
    }

    span.twig_function {
      &::before {
        content: '{% ';
      }

      &::after {
        content: ' %}';
      }
    }

    span.twig_var {
      margin-left: 20px;

      &::before {
        content: '{{ ';
      }

      &::after {
        content: ' }}';
      }
    }

    .content_m_40 {
      width: 40%;
      margin: auto;
    }
  }

  section#portfolio {
    .card-deck {
      width: 60%;
      margin: auto;
    }

    .card-deck .card {
      min-width: 30%;
      max-width: 30%;
      margin: 20px 10px;
    }

    .card img {
      max-width: 100%;
    }
  }

  section#contact {
    .message_form {
      width: 60%;
      margin: auto;
      font-size: 16px;
    }

    i.fa {
      width: 20px;
      height: 20px;
    }
  }

  footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
  }
}