<h3>Emmanuelle, {{ firstName }} {{ lastName }} t'a envoyé un nouveau message depuis ton site !</h3>

<p>Voici son contenu :</p>
<p>{{ message }}</p>

<p>Son adresse mail pour lui répondre est {{ mail }}</p>
<p>Bonne journée !</p>